<h1>  ESTO ES REAL TIME</h1>
<div>
    {{data}}
</div>
    <tr>
         <td><strong>Producto</strong></td>
         <td><strong>Descripción</strong></td>
         <td><strong>Precio</strong></td>
         <td><strong>Código</strong></td>
         <td><strong>Stock</strong></td>
         <td><strong>Categoria</strong></td>
    </tr>
    <tr>
        <td>{{title}}></td>
        <td>{{description}}</td>
        <td>{{price}}</td>
        <td>{{stock}}</td>
        <td>{{code}}</td>
        <td>{{category}}</td>
    </tr>
   
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
